@using Booking.Models.Models
@model AddBookingModel
@{
    ViewData["Title"] = "Create Booking";
}
<br />

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="row">
        <div class="col-lg-4">From date</div>
        <div class="col-lg-8">
            <input type="date" asp-for="FromDate" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">To date</div>
        <div class="col-lg-8">
            <input type="date" asp-for="ToDate" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">Room type</div>
        <div class="col-lg-8">
            <select asp-for="RoomTypeId" asp-items="@ViewBag.RoomTypes" class="form-control"></select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-offset-4 col-lg-8">
            <button type="submit" class="btn btn-primary">Add Booking</button>
        </div>
    </div>

</form>

